.about {
  height: 100%;
  .wrapper {
    max-width: 1366px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .textContainer {
      width: 50%;
      h1 {
        font-size: 65px;
        span {
          color: orange;
        }
      }
      p {
        font-size: 20px;
        color: gray;
      }
    }
    .skills {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      h2 {
        text-align: center;
        font-size: 50px;
        border: none;
        border-bottom: 1px solid white;
        padding-bottom: 10px;
      }
      div {
        width: 100%;
        display: flex;
        align-items: center;

        gap: 10px;

        h5 {
          font-size: 20px;
          text-align: left;
          width: 15%;
        }
        .js {
          width: 80.75%;
          height: 5px;
          // width: 100%;
          border-radius: 10px;
          background-color: white;
        }
        .rjs {
          height: 5px;
          width: 72.25%;
          border-radius: 10px;
          background-color: white;
        }
        .njs {
          height: 5px;
          width: 65.9%;
          border-radius: 10px;
          background-color: white;
        }
        .ejs {
          height: 5px;
          width: 75%;
          border-radius: 10px;
          background-color: white;
        }
        .mongo {
          height: 5px;
          width: 75%;
          border-radius: 10px;
          background-color: white;
        }
        .html {
          height: 5px;
          width: 85%;
          border-radius: 10px;
          background-color: white;
        }
        .css {
          height: 5px;
          width: 82%;
          border-radius: 10px;
          background-color: white;
        }
        .fire {
          height: 5px;
          width: 79%;
          border-radius: 10px;
          background-color: white;
        }
      }
    }
  }
}
