@import "../../app.scss";

.contact {
  height: 100%;
  max-width: 1366px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;
  @include mobile {
    flex-direction: column;
    padding: 20px;
    transition: none !important;
  }
  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
    @include mobile {
      flex: 0;
      width: 100%;
    }
    h1 {
      font-size: 100px;
      line-height: 88px;
      @include mobile {
        font-size: 80px;
      }
    }
    span {
      color: orange;
      //   font-weight: 300;
    }
  }
  .formContainer {
    flex: 1;
    @include mobile {
      flex: 0;
      width: 100%;
      transform: none !important;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      input {
        padding: 20px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        border-radius: 5px;
      }
      textarea {
        padding: 20px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        border-radius: 5px;
      }
      button {
        padding: 10px;
        background-color: orange;
        color: black;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
        @include mobile {
          margin-bottom: 20px;
        }
      }
      button:hover {
        background-color: black;
        color: white;
      }
    }
  }
}
