.navbar{
    height: 100px;

    .wrapper{
        max-width: 1366px;
        margin: auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .links{
        display: flex;
        gap: 20px;
        img{
            height: 18px;
            width: 18px;
        }
        
    }
    span{
        font-weight: bold;
    }
}